.venv/
venv/
__pycache__/
*.pyc
.idea/
.vscode/
.env
.env.*
node_modules/
frontend/node_modules/
dist/
build/
results/

ai_engine/data/
ai_engine/datasets/
ai_engine/models_bin/
ai_engine/inference_outputs/
*.pkl
*.mp4
*.xpt